<div class="container py2">
  <div class="mb1 right-align">
    <% is_ial_2 = params[:ial] == '2' %>
    <%= form_tag('auth/saml', method: :get) do %>
      <div class="mb1">
        <%= label_tag 'loa_1' do %>
          <%= radio_button_tag 'loa', '1', !is_ial_2 %> Identity Assurance Level 1
        <% end %>
        <%= label_tag 'loa_3' do %>
          <%= radio_button_tag 'loa', '2', is_ial_2 %> Identity Assurance Level 2
        <% end %>
      </div>
      <button type="submit" class="btn btn-outline bg-white navy">
        <%= image_tag 'login-gov.svg', class: "align-middle", width:"125" %>
      </button>
    <% end %>
  </div>
  <div class="clearfix py2 mxn1">
    <% (0..7).each do |i| %>
        <div class="sm-col sm-col-6 px1">
          <div class="p2 mb2 bg-white rounded">
            <div class="p1 mb1 bg-darken-1 col-7"></div>
            <div class="p1 mb1 bg-darken-1 col-10"></div>
            <div class="p1 mb1 bg-darken-1 col-5"></div>
            <div class="p1 mb1 bg-darken-1 col-8"></div>
            <div class="p1 mb1 bg-darken-1 col-6"></div>
            <div class="p1 mb1 bg-darken-1 col-11"></div>
            <div class="p1 mb1 bg-darken-1 col-8"></div>
          </div>
        </div>
    <% end %>
  </div>
</div>
