<!DOCTYPE html>
<html>
<head>
  <title>IdentitySp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg-darken-1">
<div class="p2 bg-green white"><%= notice %></div>
<div class="p2 bg-green white"><%= alert %></div>

<%= yield %>

</body>
</html>
